
<%- include('partials/header') %>
  <div class="container">
    <h1>Welcome to the joke generator</h1>
  <div class="error">
    <span style="color: red;">
      <%= locals.error %>
    </span>
  </div>
  <form action="/post" method="post">
    <div class="form-control">
      <label for="name">Name:</label>
      <input type="text" name="username">
    </div>
    <input type="submit" id="submit" value="Generate">
  </form>
  <div class="" id="jokeDisplayer">
    <div class="error">
      <span style="color: red;">
        <%= locals.e %>
      </span>
    </div>
    <p id="joke">
      <%= locals.joke  %>
    </p>
  </div>
  </div>

  <script>
    //Change submit btn color
    var input = document.getElementById('submit');
    input.addEventListener('click',()=>{
    input.classList.add("btn-change-color");
  });

  //Aply style when there a joke to display
  const joke = document.getElementById('joke');
  if(joke.textContent.trim()!==''){
    document.getElementById('jokeDisplayer').classList.add("display");
  }else{
    document.getElementById('jokeDisplayer').classList.remove("display");
  }


  //Disable submit button after first submission
  document.querySelector('form').addEventListener('submit', function() {
    var submitButton = document.querySelector('form input[type="submit"]');
    submitButton.disabled = true;
  });
  </script>
<%- include('partials/footer') %>